# Node.js stuff
node_modules/
dist/
.serverless/
.info/

# Env and config
.env
*.local
*.env.*

# TS + IDE junk
*.log
*.tsbuildinfo
.DS_Store
.vscode/
temp/
undefined/
temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VS Code workspace history or lockfiles
package-lock.json
